{% extends "withoutnav.html" %}
{%load static%}
{% block content %} 
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container-fluid mt-5 py-5 ">
      <div class=" d-flex ">
        <div class="col-6 col-lg-6 mb-4 mb-lg-0 px-3">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Name</h6>
                      <p class="text-muted">{{name}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Gender</h6>
                      <p class="text-muted">{{Gender}}</p>
                    </div>
                  </div>
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Age</h6>
                      <p class="text-muted">{{age}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Address</h6>
                      <p class="text-muted">{{address}}</p>
                    </div>
                  </div>
                  <h6>Criminal History</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Total</h6>
                      <p class="text-muted">{{total_cases}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Accussed Crimes:</h6>
                      <p class="text-muted">{{cases_names}}</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 text-black">helloooo</div>
      </div>
    </div>
  </section>
{% endblock %}